/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
       -moz-box-sizing: border-box; /* Firexfox */
            box-sizing: border-box; /* IE */

}


/***********************************
personal code



***********************************/

body{
  background-image: url(../images/stars.gif);
  background: cover;
}

@import url('https://fonts.googleapis.com/css?family=Alegreya+SC');
h1{
    font-family: "Alegreya SC", serif;
    text-align: center;
    font-size: 35px;
    color: rgb(114, 158, 203);
    background-color: rgb(84, 84, 84);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

.container > section {
  text-align: center;
  margin-top: 2%;
}

#button {
	box-shadow:inset -5px 0px 12px 1px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:21px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:13px 11px;
	text-decoration:none;
	text-shadow:6px -4px 9px #2b665e;
  outline: none;
  margin-bottom: 2%;
}
#button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
#button:active {
	position:relative;
	top:1px;
}

@import url('https://fonts.googleapis.com/css?family=Nova+Mono');
  li{
    border: 2px solid black;
    text-align: center;
    font-family: "Nova Mono", monospace;
    text-align: center;
    font-size: 14px;
    color: rgb(107, 77, 168);
    background-color: rgba(84, 84, 84, 0);
    margin-bottom: 1%;
    background-color: white;
}

/***********************************
media query
***********************************/

@media screen and (min-width: 1441px) { /*big screen*/

}

@media only screen and (max-width: 768px) { /*tablet*/

}

@media only screen and (max-width: 425px) { /*phone*/

}
